<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="container">
    <div class="overlay overlay-bg"></div>
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-8 col-md-12">
        <h1 class="text-uppercase">
          Adoptes-nous. <br>
          Nous avons besoins de votre aides.		
        </h1>
        <p class="text-white sub-head">
         Boutique en ligne spécialiste du chat d'intérieur. Retrouvez nos accessoires pour chat, une sélection d'alimentation naturelle pour chat et nos conseils.
        </p>
        <a href="#" class="primary-btn header-btn text-uppercase">Trouver des chats</a>
      </div>											
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start process Area -->
  <section class="process-area section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">Guide</h1>
            <p>Who are in extremely love with eco friendly system.</p>
          </div>
        </div>
      </div>					
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-process">
            <span class="lnr lnr-thumbs-up"></span>
            <a href="#">
              <h4>
                Choisir votre Chaton
              </h4>
            </a>
            <p>
              inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-process">
            <span class="lnr lnr-user"></span>
            <a href="#">
              <h4>
                Aller sur le menu panier
              </h4>
            </a>
            <p>
              inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-process">
            <span class="lnr lnr-license"></span>
            <a href="#">
              <h4>
                Faite votre achat
              </h4>
            </a>
            <p>
              inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-process">
            <span class="lnr lnr-magic-wand"></span>
            <a href="#">
              <h4>
                Avoir un nouveau famille
              </h4>
            </a>
            <p>
              inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
            </p>
          </div>
        </div>																		
      </div>
    </div>	
  </section>
<!-- End process Area -->
			

<div class="container">
  <div class="row">

  <% @item.each do |i| %>
    <div class="col-sm-4 mb-4 card-shadow">

      <div class="card h-100 shadow">
        <a href="<%= item_path(i.id) %>"><%= image_tag i.image_url, width: '100%', class: ''  %></a>
        <div class="card-body" style="border-top:3px solid #ffc107;">
            <h4 class="card-title">
                <%= i.title %>
                <span class="float-right text-muted"><%= i.price * 50 %> Ar</span>
            </h4>
            <p class="card-text"><%= i.description %></p>
            <%= form_tag carts_path, method: "post" do %>
              <div class="form-row">
                <div class="col">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Quantity</div>
                    </div>
                    <%= number_field_tag 'quantity', 1, :class => 'form-control' %>
                    <%= hidden_field_tag 'id', i.id %>
                  </div>
                </div>
              </div>
              <%= link_to 'Voir', item_path(i.id), class: "btn btn-primary" %>
              <%= submit_tag "Ajouter au panier", class: 'btn btn-outline-primary float-right' %>
            <% end %>
            <span class="entourer2">
            </span>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>

	<!-- Start calltoaction Area -->
			<section class="calltoaction-area section-gap relative">
				<div class="container">
					<div class="overlay overlay-bg"></div>						
					<div class="row align-items-center justify-content-center">
						<h1 class="text-white">Un petit projet sur "The Hacking Project"</h1>
						<p class="text-white">
               Une équipes de 6 personnes pour réaliser ce site E-commerce durant 1 semaines.
            </p>
						<div class="buttons d-flex flex-row">
							<a href="https://github.com/tsiryJL" class="primary-btn text-uppercase">Visiter mon compte Github</a>
							<a href="https://www.thehackingproject.org/" class="primary-btn text-uppercase">The Hacking Project</a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End calltoaction Area -->


